<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('.static',filename='home.css') }}">
    </head>
    <body>
        <div class="center_panel">
            <h1>"Epstain didnt kill himsef"</h1>
            <form id="form" action="{{home()}}"></form>
            <button form="form" type="submit" name="start_button" value="dealer"> Start with Dealer </button>
            <button form="form" type="submit" name="start_button" value="bot"> Start with Bot </button>
        </div>
    </body>
</html>