<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('.static',filename='home.css') }}">
    </head>
    <body>
        <div class="center_panel">
            <h1>Black Jack</h1>
            <a href=game_dealer>
                <button form="form" type="submit" name="start_button" value="dealer"> Start with Dealer </button>
            </a>
            <a href=game_bot>
                <button form="form" type="submit" name="start_button" value="bot"> Start with Bot </button>
            </a>
            <a href="https://www.blackjackapprenticeship.com/how-to-play-blackjack">
                <button form="form" type="submit" name="start_button" value="bot"> How to Play </button>
            </a>
            <a href=https://github.com/SuperSecretPryncyMafia/BlackJackProject>
                <button form="form" type="submit" name="start_button" value="bot"> Credits </button>
            </a>
        </div>
    </body>
</html>