<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Black Jack</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('.static',filename='blackjack.css') }}">
        <link rel="stylesheet" href="{{ url_for('game.static',filename='blackjack.js') }}">
        <script src="./game/static/blackjack.js"></script>
    </head>

    <body>
        <h2>Dealer: <span id="dealer-sum"></span></h2>
        <div id="dealer-cards">
            <img id="hidden" src="{{ url_for('game.static',filename='cards/BACK.png') }}">
        </div>

        <h2>You: <span id="your-sum"></span></h2>
        <div id="your-cards"></div>

        <br>
        <button id="hit">Hit</button>
        <button id="stay">Stay</button>
        <p id="results"></p>
	  <div id="betbox" style="display: flex; justify-content: center; align-items: center; gap:30px;">
	    <h2>Bet: <span id="current-bet"></span></h2>
          <img id="bet5" src="{{url_for('game.static',filename='chips/black.webp')}}" width="100" draggable="false">
        </div>
    </body>
</html>
