<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Black Jack</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('.static',filename='blackjack.css') }}">
        <link rel="stylesheet" href="{{ url_for('game.static',filename='blackjack.js') }}">
        <script src="./game/static/blackjack.js"></script>
    </head>

    <body>
        <h2>Dealer: <span id="dealer-sum"></span></h2>
        <div id="dealer-cards">
            <img id="hidden" src="{{ url_for('game.static',filename='cards/BACK.png') }}">
        </div>

        <h2>You: <span id="your-sum"></span></h2>
        <div id="your-cards"></div>

        <br>
        <button id="hit">Hit</button>
        <button id="stay">Stay</button>
        <h3 id="results"></h3>
	  <div id="betbox" style="display: flex; position: fixed; background: #ddd; padding: 30px; width: 99%; height: 220px; bottom: 0; right: 0; left:0; margin:0; justify-content: space-between; align-items: center; ">
	    <h2>Bet: <span id="current-bet"></span></h2>
	    <div style="display:flex; justify-content:center; align-items: center; gap:30px; width: 400px; flex-wrap: wrap;">
          <img id="bet5" src="{{url_for('game.static',filename='chips/5.png')}}" width="100" draggable="false">
          <img id="bet10" src="{{url_for('game.static',filename='chips/10.png')}}" width="100" draggable="false">
          <img id="bet20" src="{{url_for('game.static',filename='chips/20.png')}}" width="100" draggable="false">
          <img id="bet50" src="{{url_for('game.static',filename='chips/50.png')}}" width="100" draggable="false">
          <img id="bet100" src="{{url_for('game.static',filename='chips/100.png')}}" width="100" draggable="false">
        </div>
    </body>
</html>
